


.navbar {
   background-color:gray;
    color: white;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li{
list-style-type:none;

}
.navbar ul li a{
text-decoration: none;
color: white;
}

.navbar ul li a:hover{
text-decoration: underline yellow;
color: rgb(18, 18, 96);

}

 .hero{
    /* background-color: #dcfce7; */
    background-image: url("/image.png");
    color: white;
} 

.frnt-text{
    font-size: 20px;
}

.parent{
    padding: 20px!important;
    color: white;
    min-height: 100vh !important;

}
.parent-child{
    color: white;
}


.card{
    color: white !important;;
}

.cards{
    /* background-color: #1e1e1e !important; */

height: 25rem !important; ;
width: 35rem !important; ;
    /* padding: 150px 200px; */
}

.about-parent{
    color: white;
}

.exp-parent{
    color: white;
}