


.navbar {
   background-color:gray;
    color: white;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li{
list-style-type:none;

}
.navbar ul li a{
    font-weight: 900 !important;
    font-family:  sans-serif;
text-decoration: none;
color: #2C3E50;
}


.navbar ul li a:hover{
text-decoration: underline yellow;
 color: #3498DB;

}

 .hero{
    /* background-color: #dcfce7; */
    background-image: url("/image.png");
    color: white;
} 

.frnt-text{
    font-size: 20px;
}

.parent{
    padding: 20px!important;
    color: white;
    min-height: 100vh !important;

}
.parent-child{
    color: white;
}


.card{
    color: white !important;
     background-color: #1e1e1e !important;

height: 25rem !important; 
width: 35rem !important; 
transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;

}
.card:hover{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}
@keyframes myAnimation{

}
.about-parent{
  font-family:Mock, same stuff ;  
    color: white;
}

.exp-parent{
    color: white;
}

.pageNotFound{
    color: white;

}

.card-img-top{
   height: 50%;
    width: 100%;

     object-fit:cover !important;

}

.tools{
    color: rgb(22, 201, 255);
   
}

.tools p{
 padding: 7px;
 border-radius: 30%;
     border: 1px solid black;
}

.img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid rgb(112, 0, 0);
     border-radius: 50% !important; 
}

 .img-container{
     /* height: 250px;
    width: 250px; */
    /* border-radius: 50% !important; */
} 
.name{
  font-family:Mock, same stuff ;  
    color: #2C3E50;
}

/* .page-parent{
    
} */
