


.navbar {
   background-color:gray;
    color: white;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li{
list-style-type:none;

}
.navbar ul li a{
text-decoration: none;
color: white;
}

.navbar ul li a:hover{
text-decoration: underline yellow;
color: rgb(18, 18, 96);

}

 .hero{
    /* background-color: #dcfce7; */
    background-image: url("/image.png");
    color: white;
} 

.frnt-text{
    font-size: 20px;
}